.device-checkin-container
  padding: 15px
  display: flex

.device-checkin-radio-container
  margin-bottom: 20px

.device-checkin-error-form
  width: 75%

.device-checkin-right
  width: 35%
  .device-checkin-button
    padding: 13px 20px
    box-shadow: none
    font-weight: 500
    border-radius: 6px
    background-color: #239eea
