@import "../../_variables"

.side-table
  display: flex
  flex-direction: column
  min-width: 20rem
  background-color: white
  border-right: 1px #e5e7eb solid
  height: 100%
  @media screen and (max-width: 1032px) and (min-width: 992px)
    min-width: 18rem
  @media screen and (max-width: 767px)
    min-width: 100%

.side-table-top
  padding: 1.5rem 1.5rem 1rem
  border-bottom: 1px $gray-200 solid

.side-table-content
  display: flex
  flex-direction: column
  overflow-y: auto

.letter-header
  background-color: $gray-50
  padding: 0.25rem 1.5rem
  position: sticky
  top: 0
  border-bottom: 1px $gray-200 solid
  color: $gray-400

.letter-list
  list-style-type: none
  padding: 0
  margin: 0

  .book-set
    padding: 20px 24px
    cursor: pointer
    border-bottom: 1px $gray-200 solid
    &.selected
      background-color: #eff6ff
      &:hover
        background-color: #eff6ff

    &:hover
      background-color: $gray-50

    .book-subject
      color: $gray-400
      font-size: 13px

.main-content
  flex-grow: 1
  overflow: scroll
  background-color: white

.main-content-inner-wrapper
  display: flex
  flex-direction: column
  height: 100%

.main-content-header
  padding: 0.75rem 1.5rem
  align-items: center
  display: flex
  justify-content: space-between
  background-color: $white
  border-bottom: 1px $gray-200 solid

.main-content-footer
  margin-top: auto
  padding: 0.75rem 1.5rem
  align-items: center
  display: flex
  justify-content: flex-end
  background-color: white
  border-top: 1px #e5e7eb solid

.custom-panel-stack
  height: 100%

.add-input
  padding: 2px 0

.create-textbook-button
  width: 100%
  border: none
  background-color: white
  padding: 10px
  box-shadow: 0px 0px 2.5px 0px #999999
  border-radius: 9px
  cursor: pointer
  margin-top: 10px
  color: #797979
  &:hover
    background-color: #f2faff
  &:active
    background-color: #d8eefc
    box-shadow: 0px 0px 4px 0px #999999
  &:disabled
    background-color: $gray-200
    box-shadow: none
    cursor: not-allowed
    opacity: 0.5

.lock-button-wrapper
  align-self: center
  width: 50%
  height: 100%
  margin-top: 5px
  padding: 0 15px

.create-textbook-data
  padding: 20px
  border-bottom: 1px $gray-200 solid
  @media screen and (max-width: 992px)
    padding: 10px 4px
