if device.status === 'Broken'
  section.device-error-update-container
    h2 Update Error
    .update-error-form-wrapper
      form.update-error-form#update-error-form
        .update-error-fields-container
          .create-user-label(style="display: flex;align-items: center") Error to update
            span.required-asterisk *
          select#select-current-error.form-select.w-node-c4b4e7e1a532-c92df52a.w-select(name="Current Error" data-name="current error")
            for errorLog in errorLogs
              - if (!errorLog.final)
                option(value=`${errorLog._id}`) #{errorLog.title} (#{errorLog.status})
          .create-user-label(style="display: flex;padding-top: 9px;") Update Status
            span.required-asterisk *
          .status-chips-container
            +errorChip("Broken")
            +errorChip("In Repair")
            +errorChip("Fixed")
            +errorChip("Unfixable")
            .pop-text
          .create-user-label Description of Issue
            span.required-asterisk *
          .checkin-decsription-container 
            textarea.form-text-field.w-input.textarea#update-error-description(rows="5" cols="50" maxlength="500")
            p.text-counter
              span 0
              | /500
            input#update-error-button.checking-button.w-button(type="submit" value="Update Error" data-wait="Please wait..." style="margin-right:0px" disabled)