style.
  .database-table {
  width: 100%;
  }
  .database-table th, .database-table td {
  border-bottom: 2px rgba(146, 146, 146, 0.09) solid;
  text-align: left;
  }
  .database-table thead th {
  padding: 10px 0
  }
  .database-table tbody td {
  color: #b6b6b6;
  padding: 9px 0;
  font-size: 15.5px
  }
  .database-table#device-table tr > :first-child {
  padding-left: 50px;
  }
  .database-table#checkout-history tr > :first-child, 
  .database-table#error-history tr > :first-child {
  padding-left: 25px;
  }
  .database-table#error-history tr > :last-child {
  padding-right: 25px;
  }
  .database-table tbody tr:hover:not(.error-info-row) {
  background-color: #fafafa;
  }
  .database-table td a.name {
  color: black;
  text-decoration: none;
  opacity: 0.7;
  }
  .database-table td a:hover {
  color: #00bdec;
  opacity: 1;
  }
  .database-table .check-out {
  visibility: hidden;
  color:#00bdec
  }
  .database-table tbody tr:hover .check-out {
  visibility: visible;
  }
  .database-table#checkout-history {
    margin-top: 20px;
  }
  .database-table#error-history .error-info-row td {
  padding: 0px;
  }
  .expand_more {
  transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
  }
  .error-info-row span {
  display: block;
  margin-bottom: 15px;
  }
  .error-info-row  span b {
  color: #4f4f4f;
  }
  .more-error-info {
    display: none
  }
  .more-error-info span:last-child {
    margin-bottom: 0px;
  }
  .device-description-cell {
    max-width: 0;
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .material-icons.md-6 { font-size: 6px; }
  .material-icons.md-12 { font-size: 12px; }
  .material-icons.md-15 { font-size: 15px; }
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.check_circle {
  color: #2de320;
  }
  .material-icons.remove_circle {
  color: #e31d0b;
  }
  .material-icons.warning {
  color: #f0a70a;
  }
  .material-icons.error, .material-icons.block {
  color: #ff3838;
  }
  .material-icons.construction {
  color: #18badf;
  }
  @media only screen and (max-width: 1150px) {
  #device-table th:nth-child(2), #device-table td:nth-child(2), #device-table colgroup col:nth-child(2) {
  display: none;
  }
  }
  @media only screen and (max-width: 991px) {
  .database-table .check-out {
  visibility: visible;
  color:#00bdec
  }
  }