style.
  .open .sidebar.w-nav {
  width: 200px;
  }
  .sidebar.w-nav {
  -webkit-transition: width 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  -moz-transition: width 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: width 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .open .main-container {
  margin-left: 200px;
  }
  .main-container {
  -webkit-transition: margin-left 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  -moz-transition: margin-left 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: margin-left 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .open .brand {
  -webkit-transition:  1s fade;
  -moz-transition: margin-left 1s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: margin-left 1s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .nav-link.w-inline-block.current .nav-active-line {
  display: block;
  }
  .nav-link.w-inline-block:hover .nav-active-line {
  display: block;
  }
  .nav-link.w-inline-block.current {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
  }