extends base

block content
  form#add-device(name="wf-form-Add-Device" data-name="Add Device")
    .content-top
    .bottom-content-grid
      #w-node-c4b4e7e1a518-154b8aea.create-user-label
        | Name: 
        span.required-asterisk *
      #w-node-c4b4e7e1a51c-154b8aea.create-user-label
        | Brand: 
        span.required-asterisk *
      #w-node-c4b4e7e1a520-154b8aea.create-user-label
        | Model: 
        span.required-asterisk *
      #w-node-c4b4e7e1a524-154b8aea.create-user-label
        | Serial Number: 
        span.required-asterisk *
      input#create-device-name.form-text-field.w-input(type="text" maxlength="256" name="name" data-name="name" placeholder="HP 01" required="")
      input#create-device-brand.form-text-field.w-input(type="text" maxlength="256" name="brand" data-name="brand" placeholder="HP" required="")
      input#create-device-model.form-text-field.w-input(type="text" maxlength="256" name="model" data-name="model" placeholder="HP Chromebook 14 G5" required="")
      input#create-device-sn.form-text-field.w-input(type="text" maxlength="256" name="serialNumber" data-name="serialNumber" placeholder="5CD8214GMZ" required="")
      #w-node-c4b4e7e1a52c-154b8aea.create-user-label
        | MAC Address: 
        span.required-asterisk *
      input#create-device-mac.form-text-field.w-input(type="text" maxlength="256" name="macAddress" data-name="macAddress" placeholder="5C:5F:67:B0:DC:36" required="")
      select#create-device-status.form-select.w-node-c4b4e7e1a532-154b8aea.w-select(name="status" data-name="status")
        option(value="") Select one...
        option(value="Available") Available
        option(value="Broken") Broken
        option(value="Not Available") Not Available
      input#create-device-button.add-button.create.w-button(type="submit" value=`Add ${capitalize(deviceType)}` data-wait="Please wait...")
      #w-node-c4b4e7e1a533-154b8aea.create-user-label
        | Current Status: 
        span.required-asterisk *