extends base

block content
  .w-form
    form#create-first-password-form(name="wf-form-Create-First-Password" data-name="Create First Password")
      .content-top
      .bottom-content-grid
        #w-node-bf93f980e613-840585fe.create-user-label
          | Password: 
          span.required-asterisk *
        #w-node-bf93f980e617-840585fe.create-user-label
          | Confirm Password: 
          span.required-asterisk *
        input#first-password.form-text-field.password.w-input(type="password" maxlength="256" name="first-password" data-name="first-password" placeholder="••••••••" required="")
        input#first-password-confirm.form-text-field.password.w-input(type="password" maxlength="256" name="first-password-confirm" data-name="first-password-confirm" placeholder="••••••••" required="")
        input#w-node-1536b102bc0f-840585fe.add-button.create.w-button(type="submit" value="Create Password" data-wait="Please wait...")