extends base

block content
  form#new-user(name="wf-form-New-User" data-name="New User")
    .content-top
      .role-top-wrapper
        h4 New Employee Role:
        div
          if employee.role === 'Super Admin'
            label.radio-button-field.w-radio
              input#Super-Admin.w-form-formradioinput.w-radio-input(type="radio" data-name="role" name="role" value="Super Admin" required="")
              span.w-form-label(for="Super Admin") Super Admin
          label.radio-button-field.w-radio
            input#Admin.w-form-formradioinput.w-radio-input(type="radio" data-name="role" name="role" value="Admin" required="")
            span.w-form-label(for="Admin") Administrator 
          label.radio-button-field.w-radio
            input#Development.w-form-formradioinput.w-radio-input(type="radio" data-name="role" name="role" value="Development")
            span.w-form-label(for="Development") Development
          label.radio-button-field.w-radio
            input#Instructor.w-form-formradioinput.w-radio-input(type="radio" data-name="role" name="role" value="Instructor")
            span.w-form-label(for="Instructor") Instructor
          label.radio-button-field.w-radio
            input#Maintenance.w-form-formradioinput.w-radio-input(type="radio" data-name="role" name="role" value="Maintenance")
            span.w-form-label(for="Maintenance") Maintenance
    .bottom-content-grid
      #w-node-a43230b1ad1c-228f88f3.create-user-label
        | First Name: 
        span.required-asterisk *
      #w-node-010d328668ef-228f88f3.create-user-label
        | Last Name: 
        span.required-asterisk *
      #w-node-3b9a95ed2ff9-228f88f3.create-user-label
        | Title: 
        span.required-asterisk *
      #w-node-0a98fe4b7772-228f88f3.create-user-label
        | Email: 
        span.required-asterisk *
      input#new-user-first-name.form-text-field.w-input(type="text" maxlength="256" name="firstName" data-name="firstName" required="")
      input#new-user-last-name.form-text-field.w-input(type="text" maxlength="256" name="lastName" data-name="lastName" required="")
      input#new-user-title.form-text-field.w-input(type="text" maxlength="256" name="title" data-name="title" placeholder="e.g. 1st Grade Math Teacher" required="")
      input#new-user-email.form-text-field.w-input(type="email" maxlength="256" name="email" data-name="email" placeholder="e.g. email@cornerstone-schools.org" required="")
      #w-node-4ce0cb768e17-228f88f3.create-user-label
        | Homeroom Grade:
      select#new-user-homeroom-grade.form-select.w-select(name="homeroomGrade" data-name="homeroomGrade")
        option(value="") If applicable...
        option(value="0") Kindergarden
        option(value="1") 1st 
        option(value="2") 2nd
        option(value="3") 3rd
        option(value="4") 4th
        option(value="5") 5th
        option(value="6") 6th
        option(value="7") 7th
        option(value="8") 8th
        option(value="9") 9th
        option(value="10") 10th
        option(value="11") 11th
        option(value="12") 12th
      input#w-node-dbae2364cc1b-228f88f3.add-button.create.w-button(type="submit" value="Create New User" data-wait="Please wait...")
  