extends base

block content
  select#test-grade.form-select.w-select(name="grade" data-name="grade")
    option(value="") Select one...
    option(value="0") Kindergarden
    option(value="1") 1st 
    option(value="2") 2nd
    option(value="3") 3rd
    option(value="4") 4th
    option(value="5") 5th
    option(value="6") 6th
    option(value="7") 7th
    option(value="8") 8th
    option(value="9") 9th
    option(value="10") 10th
    option(value="11") 11th
    option(value="12") 12th

  each grade in grades
    select.form-select.w-select.student-list(style="display:none" value=`${grade.grade}`)
      option(value="") Select a Student...
      each student in grade.students
        option(value=`${student.id}`) #{student.fullName}

  input(type="text" class="form-text-field w-input picker1")
  //- input(type="text" class="form-control picker2" value=`${new Date()}`)

block addEnd
  script.
    const pickerOptions = {
      format: 'MM/DD/YYYY, HH:mm:ss',
      controls: true,
      headers: true,
      text: {
        title: 'Pick a date (Time uses 24-hour format)',
      },
    };
    
    new Picker(document.querySelector('.picker1'), pickerOptions);
    //- new Picker(document.querySelector('.picker2'), pickerOptions);