* {
  outline: none;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: " ";
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: " ";
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

body {
  background-color: #f8fafd;
  font-family: Gilroy, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

a {
  color: #333;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  z-index: 2;
  overflow: hidden;
  width: 60px;
  height: 100vh;
  background-color: #2950e4;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2a51e9),
    to(#1c3ec4)
  );
  background-image: linear-gradient(180deg, #2a51e9, #1c3ec4);
  box-shadow: none;
}

.hamburger {
  width: 100%;
  height: 60px;
  padding-top: 25px;
  float: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hamburger:focus {
  background-color: transparent;
}

.hamburger.w--open {
  background-color: transparent;
}

.hamburger-line {
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  border-radius: 15px;
  background-color: hsla(0, 0%, 100%, 0.5);
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.brand {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 10px;
  width: 100%;
  padding: 15px;
}

.sidebar-container {
  position: -webkit-sticky;
  position: sticky;
  height: 100%;
}

.top-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 60px;
  padding-left: 60px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.13);
}

.nav-link {
  position: relative;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.35;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.nav-link:hover {
  opacity: 1;
}

.div-block {
  height: 45px;
}

.nav-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.main-container {
  margin-bottom: 40px;
  padding-bottom: 25px;
  margin-left: 60px;
  padding-left: 40px;
}

.content-wrapper {
  overflow: hidden;
  margin-top: 25px;
  margin-right: 40px;
  padding-bottom: 20px;
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.09);
}

.profile-wrapper {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.profile-image {
  width: 35px;
  height: 35px;
  margin-right: 9px;
  border: 3px solid #006cec;
  border-radius: 50%;
  background-color: #ddd;
}

.profile-link-block {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Google Sans Medium", sans-serif;
  color: #9c9c9c;
  font-size: 13px;
}

.text-block {
  display: inline-block;
}

.title-heading {
  font-family: GilroyBold, sans-serif;
  font-weight: 700;
}

.title-heading.item {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 30px;
}

.content-top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid hsla(0, 0%, 57.3%, 0.09);
  text-align: right;
}

.add-button {
  margin-right: 20px;
  padding-right: 25px;
  padding-left: 23px;
  border-radius: 7px;
  background-color: #006cec;
  box-shadow: none;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-family: "Google Sans Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  outline: none;
}

.add-button:hover {
  box-shadow: 0 0 18px -3px rgba(0, 108, 236, 0.55);
}

.add-button.create {
  margin-top: 10px;
  margin-right: 0px;
}

.edit-button {
  padding-right: 25px;
  padding-left: 23px;
  border-radius: 7px;
  background-color: #ec9900;
  box-shadow: none;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-family: "Google Sans Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  outline: none;
}

.edit-button:hover {
  box-shadow: 0 0 18px 0 rgba(236, 153, 0, 0.55);
}

.brand-logo {
  width: 30px;
  height: 40px;
}

.nav-text {
  position: absolute;
  left: 60px;
  top: auto;
  right: auto;
  bottom: auto;
  display: inline-block;
  color: #fff;
  white-space: pre;
}

.nav-active-line {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: none;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.icon {
  position: relative;
  display: inline-block;
  margin-right: 0px;
  margin-left: 4px;
}

.device-logo {
  height: 25px;
  margin-right: 10px;
}

.device-table-wrapper {
  font-family: "Google Sans Medium", sans-serif;
}

.available-circle {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 7px;
  margin-bottom: 2px;
  border-radius: 20px;
  background-color: #4cf33a;
}

.checkedout-circle {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 7px;
  margin-bottom: 2px;
  border-radius: 20px;
  background-color: #ff5b5b;
}

.home-content-wrapper {
  width: 100%;
  padding: 30px;
}

.home-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 0 10px -3px #b6b6b6;
  -webkit-transition: box-shadow 350ms ease;
  transition: box-shadow 350ms ease;
  text-align: center;
}

.home-card:hover {
  box-shadow: 0 0 18px 0 #006cec;
}

.home-content-container {
  display: -ms-grid;
  display: grid;
  max-width: 1000px;
  min-width: 800px;
  margin-right: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.home-card-icon {
  width: 40px;
  height: 40px;
}

.checking-button {
  margin-top: 10px;
  margin-right: 20px;
  padding: 12px 25px;
  border-radius: 7px;
  background-color: #00bdec;
  box-shadow: none;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-family: "Google Sans Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.checking-button:hover {
  box-shadow: 0 0 18px 0 rgba(0, 189, 236, 0.55);
}

.cancel-button {
  margin-top: 10px;
  margin-right: 20px;
  padding: 12px 25px;
  border-radius: 7px;
  background-color: red;
  box-shadow: none;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-family: "Google Sans Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.cancel-button:hover {
  box-shadow: 0 0 18px 0 rgba(255, 0, 0, 0.55);
}

.heading-wrapper {
  display: -ms-grid;
  display: grid;
  margin-left: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.device-item-content-wrapper {
  width: 100%;
  padding: 30px 30px 30px 60px;
}

.device-item-container {
  display: -ms-grid;
  display: grid;
  min-width: 790px;
  margin-right: auto;
  margin-bottom: 75px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.device-log-container,
.device-error-update-container {
  display: block;
  margin-bottom: 75px;
}

.status-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Google Sans Medium", sans-serif;
  color: #4cf33a;
}

.device-checkout-container {
  display: block;
  min-width: 790px;
  margin-right: auto;
  margin-bottom: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.checkout-form {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.update-error-form-wrapper,
.create-error-form-wrapper {
  margin: 20px 0;
}

.update-error-form {
  width: fit-content;
}

.device-error-log-container {
  position: relative;
}

.div-block-2 {
  width: 90%;
}

.role-top-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.radio-button-field {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.bottom-content-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 65%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.create-user-label {
  font-size: 16px;
}

.form-text-field {
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px 1px 2px;
  border-color: transparent transparent #c8c8c8;
  background-color: transparent;
}

.form-text-field:focus {
  border-color: transparent transparent #006cec;
}
.form-text-field.textarea {
  padding-top: 0px;
  background: rgba(239, 239, 239, 0.2);
}

.form-text-field::-webkit-input-placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  color: #d7d7d7;
}

.form-text-field:-ms-input-placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  color: #d7d7d7;
}

.form-text-field::-ms-input-placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  color: #d7d7d7;
}

.form-text-field::placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  color: #d7d7d7;
}

.form-text-field.password {
  font-size: 28px;
}

.form-text-field.password::-webkit-input-placeholder {
  color: #cbcbcb;
  font-size: 28px;
}

.form-text-field.password:-ms-input-placeholder {
  color: #cbcbcb;
  font-size: 28px;
}

.form-text-field.password::-ms-input-placeholder {
  color: #cbcbcb;
  font-size: 28px;
}

.form-text-field.password::placeholder {
  color: #cbcbcb;
  font-size: 28px;
}
.error-text-fields-container .form-text-field {
  width: 375px;
}

/* Chips */
.chip-wrapper {
  display: inline-block;
}

.chip {
  width: fit-content;
  background: rgba(0, 0, 0, 0.05);
  padding: 4px 17px;
  border-radius: 20px;
  font-size: 14px;
  color: #030303;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.chip:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.chip.selected {
  border-color: #2950e4;
  color: #2950e4;
  background-color: #d5daed;
}

.chip input {
  display: none;
}

.waves-effect {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.waves-ripple {
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-radial-gradient(
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -o-radial-gradient(
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -moz-radial-gradient(
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
  transition-property: transform, opacity;
  transition-duration: 0.75s;
  width: 100px;
}

.chip-wrapper:first-child label.w-radio:first-child {
  padding-left: 0px;
}

.pop-text {
  color: #0d09fe;
  font-style: italic;
  font-size: 12.5px;
}

.required-asterisk {
  font-family: "Open Sans", sans-serif;
  color: #c50000;
  font-size: 18px;
}

.available-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  margin-left: 40px;
  padding: 9px 34px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #e9effd;
  border-radius: 21px;
  font-family: "Google Sans Medium", sans-serif;
  color: #4cf33a;
  font-size: 13.5px;
  line-height: 16px;
  cursor: pointer;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.available-checkbox {
  display: none;
}

.device-search-input {
  display: inline-block;
  width: 200px;
  height: 35px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 9px;
  border: 0px none transparent;
  background-color: transparent;
  font-family: "Google Sans Medium", sans-serif;
  font-size: 13px;
}

.device-search-wrapper {
  position: static;
  left: 50%;
  top: 50%;
  right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 35px;
  margin-left: 30px;
  border: 2px solid #e9effd;
  border-radius: 9px;
  background-color: #e9effd;
}

.search-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  padding-top: 2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #bebebe;
}

.login-full-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../images/education-icon-background.png");
  background-position: 0px 0px;
  background-size: 250px;
}

.login-right {
  position: relative;
  top: 2vh;
  right: 2vh;
  display: inline-block;
  width: 70vw;
  height: 96vh;
  border-radius: 13px;
  background-image: radial-gradient(
      circle farthest-corner at 20% 20%,
      rgba(54, 5, 232, 0.84) 2%,
      rgba(0, 108, 236, 0.9) 72%
    ),
    url("../images/login-image.jpeg");
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  box-shadow: 1px 1px 8px 6px rgba(0, 0, 0, 0.18);
}

.login-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-body {
  overflow: hidden;
}

.login-wrapper {
  position: absolute;
  left: 98px;
  z-index: 2;
  display: block;
  width: 525px;
  height: auto;
  padding: 36px 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 15px -4px #c3c3c3;
  background-clip: border-box;
}

.login-field {
  margin-bottom: 30px;
  border-style: solid;
  border-width: 1px 1px 2px;
  border-color: transparent transparent #c8c8c8;
  background-color: transparent;
  font-family: Gilroy, sans-serif;
  font-size: 15px;
}

.login-field:focus {
  border-color: transparent transparent #006cec;
}

.login-field::-webkit-input-placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 14px;
}

.login-field:-ms-input-placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 14px;
}

.login-field::-ms-input-placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 14px;
}

.login-field::placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 14px;
}

.login-form-block {
  margin-top: 32px;
}

.cornerstone-login-logo {
  position: absolute;
  left: auto;
  top: 50px;
  right: 50px;
  bottom: auto;
}

.forgot-password-link {
  font-family: GilroyBold, sans-serif;
  color: #4195f8;
  font-weight: 400;
}

.form-select {
  margin-bottom: 0px;
}

.device-checkin-container {
  display: block;
  min-width: 790px;
  margin-right: auto;
  margin-bottom: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.checkin-form {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.checkin-decsription-container {
  width: fit-content;
  text-align: right;
}

.error-text-fields-wrapper {
  display: none;
}

.error-text-fields-container,
.update-error-fields-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 24px;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  margin-bottom: 20px;
  width: max-content;
}

.buttons-wrapper {
  text-align: right;
}

.go-to-error {
  cursor: pointer;
  color: #006cec;
  font-weight: 600;
}

.text-counter {
  margin-top: 5px;
}

button#new-error-button.add-button {
  position: absolute;
  right: 0;
  top: 0;
}
.broken-circle {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 7px;
  margin-bottom: 2px;
  border-radius: 20px;
  background-color: #ff9500;
}

.notavailable-circle {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 7px;
  margin-bottom: 2px;
  border-radius: 20px;
  background-color: #588cda;
}

.login-tabs-menu {
  display: none;
}

.login-tabs-content {
  overflow: visible;
}

.login-back-arrow {
  margin-right: 6px;
}

.login-tabs {
  overflow: visible;
}

.go-back-wrapper {
  position: absolute;
  top: -49px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Google Sans Medium", sans-serif;
  color: #006cec;
  cursor: pointer;
}

.go-back-wrapper:hover {
  margin-left: -10px;
}

.profile-dropdown-toggle {
  padding: 0px;
}

.profile-dropdown-list {
  top: -25px;
}

.profile-dropdown-list.w--open {
  top: 56px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 20px -1px hsla(0, 0%, 80.5%, 0.7);
}

.profile-dropdown-link:hover {
  background-color: #fafafa;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 250px;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  min-width: 800px;
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

.checking-button.disabled {
  background-color: lightgray;
  cursor: not-allowed;
  outline: none;
}

.checking-button.disabled:hover {
  box-shadow: none;
}

.floating-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.checkout-dates-wrapper {
  -ms-grid-column-span: 2;
  -ms-grid-column: 1;
  -ms-grid-row-span: 1;
  -ms-grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
  grid-row-start: 3;
}

.date-wrapper {
  display: flex;
  align-items: center;
  height: 45px;
}

.date-holder {
  display: none;
  margin-left: 20px;
}

.date-holder input {
  display: none;
}

.fakebox {
  width: auto;
  font-family: "Google Sans Medium";
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 5px 20px;
  border: solid 1px #e1e1e1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  color: cornflowerblue;
}

/* Sign In With Google Button */
.sso-button-wrapper {
  width: fit-content;
  margin: auto;
  padding: 2.5px;
  border-radius: 5px;
  background: linear-gradient(90deg, #34a853 4%, #4285f4 0%) top/100% 34%
      no-repeat,
    linear-gradient(90deg, #fbbc04 50%, #4285f4 0%) top/100% 82% no-repeat,
    linear-gradient(90deg, #fbbc04 10%, #ea4335 0%) top/100% 100%;

  box-shadow: 0 1px 6px rgba(60, 64, 67, 0.3);
}

.sso-button-wrapper button {
  display: flex;
  align-items: center;
  background-color: white;
  outline: none;
  border: none;
  box-shadow: 0 1px 6px rgba(60, 64, 67, 0.3);
  padding: 9px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Google Sans Medium";
}

#google-logo {
  padding-left: 10px;
  border-left: solid 1px rgb(218, 225, 231);
  width: 30px;
}

#cstone-logo {
  margin-right: 10px;
  width: 20px;
  height: 24px;
}

#button-text {
  margin-left: 30px;
  font-size: 14px;
}

.sso-button-wrapper .vr {
  height: 100%;
  width: 2px;
  color: black;
}

#status-available {
  color: #4cf33a;
}

#status-checkedout {
  color: #ff5b5b;
}

#status-broken {
  color: #ff9500;
}

#status-notavailable {
  color: #588cda;
}

#w-node-46e418b23310-8dcbe826 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-611e299c3c11-8dcbe826 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-8205072e68af-8dcbe826 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-adb31e0f484d-8dcbe826 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-cb2224221011-8dcbe826 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-0358f8b77d52-8dcbe826 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-0358f8b77d54-8dcbe826 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-0358f8b77d5c-8dcbe826 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-a43230b1ad1c-228f88f3 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-010d328668ef-228f88f3 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-3b9a95ed2ff9-228f88f3 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-0a98fe4b7772-228f88f3 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-4ce0cb768e17-228f88f3 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-dbae2364cc1b-228f88f3 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
}

#w-node-bf93f980e613-840585fe {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-bf93f980e617-840585fe {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-1536b102bc0f-840585fe {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-c4b4e7e1a518-154b8aea {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-c4b4e7e1a51c-154b8aea {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-c4b4e7e1a520-154b8aea {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-c4b4e7e1a524-154b8aea {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-c4b4e7e1a52c-154b8aea {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-align: end;
  align-self: end;
}

#create-chromebook-status.w-node-c4b4e7e1a532-154b8aea {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#create-device-button {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
}

#w-node-c4b4e7e1a533-154b8aea {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-a43230b1ad1c-2487aae4 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-010d328668ef-2487aae4 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-3b9a95ed2ff9-2487aae4 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-0a98fe4b7772-2487aae4 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-4ce0cb768e17-2487aae4 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-dbae2364cc1b-2487aae4 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
}

#w-node-c4b4e7e1a518-c92df52a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-c4b4e7e1a51c-c92df52a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-c4b4e7e1a520-c92df52a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-c4b4e7e1a524-c92df52a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-c4b4e7e1a52c-c92df52a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-align: end;
  align-self: end;
}

#edit-chromebook-status.w-node-c4b4e7e1a532-c92df52a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-c4b4e7e1a531-c92df52a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
  -ms-grid-row: 7;
  grid-row-start: 7;
}

#w-node-c4b4e7e1a533-c92df52a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-a43230b1ad1c-d1af671e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-010d328668ef-d1af671e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-99422d9f5615-d1af671e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-3b9a95ed2ff9-d1af671e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-0a98fe4b7772-d1af671e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-4ce0cb768e17-d1af671e {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-dbae2364cc1b-d1af671e {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-64c518dc20de-d1af671e {
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-a43230b1ad1c-7b2f5e2c {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-010d328668ef-7b2f5e2c {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-99422d9f5615-7b2f5e2c {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-3b9a95ed2ff9-7b2f5e2c {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-0a98fe4b7772-7b2f5e2c {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-4ce0cb768e17-7b2f5e2c {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-dbae2364cc1b-7b2f5e2c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-64c518dc20de-7b2f5e2c {
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#create-error-date-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.blinking {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 14px white;
  animation-name: blinking;
  animation-duration: 2s;
  animation-iteration-count: 2;
}

@keyframes blinking {
  50% {
    box-shadow: 0px 0px 0px 10px white, 0px 0px 17px 9px #00bdec;
  }
}

.blinking-row {
  background-color: white;
  animation-name: blinking-row;
  animation-duration: 2s;
  animation-iteration-count: 2;
}

@keyframes blinking-row {
  50% {
    background-color: #e1f1ff;
  }
}

@font-face {
  font-family: "Google Sans Medium";
  src: url("../fonts/GoogleSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
