@import "../../_variables"

$gray-border: 1px $gray-300 solid

.table
  background-color: white

  .tr
    div
      &:first-child
        padding-left: 20px

  .header-row
    border-bottom: $gray-border
    background-color: #f9f9fb
    .tr
      .th
        padding-top: 10px
        padding-bottom: 10px
        text-transform: uppercase
        font-size: 12px
        color: $gray-400
        font-weight: 500
        letter-spacing: 1px

  div[role="rowgroup"]
    font-weight: 500
    font-size: 15px
    color: $gray-400
    .tr
      border-top: $gray-border
      align-items: center
      &:hover
        background-color: $blue-50
      &:first-child
        border-top-width: 0px
      &:last-child
        border-bottom: $gray-border

    .td
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

.table-wrapper
  margin: 15px 0 0
  box-shadow: 0px 1px 20px -3px rgba(0, 0, 0, 0.15)
  border-radius: 8px
  overflow: hidden
  width: 100%
  user-select: none

  .search
    margin-left: 20px
    display: flex
    align-items: center
    background-color: #e9effd
    width: 225px
    font-weight: 500
    .bp3-input
      padding: 8px 0 8px 12px
      border: none
      background-color: transparent
      flex-grow: 1
      font-weight: inherit
    svg[data-icon="search"]
      fill: $gray-400
      font-size: 12px

  .bp3-input-group .bp3-input:not(:first-child)
    padding-left: 35px

  .table-bottom
    border-top: $gray-border
    height: 40px
    background-color: #f5f5ff
    display: flex
    align-items: center

    .table-footer-results
      margin-left: 20px
      color: $gray-400
      font-size: 15px

.table-toolbox
  width: 100%
  min-height: 55px
  background-color: white
  border-bottom: $gray-border
  display: flex
  align-items: center

.device-name
  color: $black
  cursor: pointer
  &:hover
    color: $blue-400
