@import "../../_variables"

.device-pane
  padding: 15px 25px 35px 50px
  border-bottom: 1px $gray-200 solid

.device-pane-child
  margin-bottom: 25px

.device-checkout-box, .device-checkin-box
  width: 33.33%
  padding: 10px 0
  display: flex
  flex-direction: column
  align-items: flex-start
  &.button
    justify-content: flex-end
    button
      padding: 13px 20px
      box-shadow: none
      font-weight: 500
      border-radius: 6px
      background-color: #239eea

.basic-info-box-wrapper
  display: flex
  flex-wrap: wrap

.radio:focus
  outline: none

.drawer-footer
  height: 40px
  padding: 5px 10px
  box-shadow: inset 0 1px 0 rgba(16 ,22 ,26 ,0.15)

  .drawer-footer-inner
    display: flex
    justify-content: flex-end
    align-items: center
    height: 100%

.pop-text
  color: #0d09fe
  font-style: italic
  font-size: 12px
  font-weight: 300
  margin-top: 7px
